body { line-height: 2.0em; }
#result, #roll {
	display: block;
	float: right;
	width: 100%;
}
.section {
	width: 49%;
	display: inline;
	float: left;
}
#input, #output {
	width: 50%;
	display: inline;
}
#input { float: left; }
#output { float: right; }
